body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #122626;
}
/* GRID template area layout */
.landing-wrapper {
  grid-gap: 7px;
  height: 105vh;
  width: 100%;
  display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
    ". . . . . . . . . . . ."
    ". . . . . . . . a a a ."
    ". . . . . . . . a a a ."
    ". . . m m m m m a a a ."
    ". . . m m m m m c c e e"
    "p p p m m m m m c c . ."
    "p p p m m m m m . . . ."
    "p p p . . . . . . . . ."
    /* ". . . . . . . . . . . ."
    ". . . . . . . . . . . ." */
    ;
}
  .about {
    grid-area: a;
    background-image: url("me.jpg");
      background-size: 170%;
      background-position: top;
    transition: 1000ms;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8)
  }
    .about:hover {
      background-position:bottom;
      color: teal;
      cursor: pointer;
      font-size: 44px;
    }
  .portfolio {
    grid-area: p;
    background-image: url("port.jpg");
      background-size: 170%;
      background-position: center;
    transition: 1000ms;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8)
  }
    .portfolio:hover {
      background-size: 270%;
      background-position: left;
      color: coral;
      cursor: pointer;
      font-size: 44px;
    }
  .contact {
    grid-area: c;
    background: url("contact.jpg");
      background-size: 190%;
      background-position: center;
    transition: 500ms;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5)
  }
    .contact:hover {
      background-size: 290%;
      color: #c67665;
      cursor: pointer;
      font-size: 44px;
    }
  .center {
    grid-area: m;
    background: url("burn.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5)
  }
  .extra {
    grid-area: e;
    background: url("extra.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5)
  }
.about, .contact, .extra, .center, .portfolio {
  border-radius: 10px;
}
/*************************************/

/* Fixed bookmark logo with initial */
.bookmark {
  height: 0;
  width: 0;
  position: fixed;
    left: 20px;
    top: 0px;
  border-top: 100px solid rgba(255, 255, 255, 0.5);
  /* border-top: 100px solid transparent; */
  border-left: 50px solid rgba(255, 255, 255, 0.5);
  border-right: 50px solid rgba(255, 255, 255, 0.5);
  border-bottom: 50px solid transparent;
  z-index: 5;
}

.A, .K {
  font-family: 'Combo', cursive;
  font-size: 6em;
  position: fixed;
    top: -10px;
  text-shadow: 2px 2px rgba(11, 11, 11, 0.7);
  z-index: 10;
}
  .A {
    color: #fee9ba;
    left: 22px;
  }
  .K {
  color: #ffc901;
  left: 61px;
}
/*************************************/

/* NAME on landing page */
.name {
  color: #ffc901;
  font-family: 'Fjalla One', sans-serif;
  font-size: 84px;
  text-shadow: 3px 3px rgba(255, 255, 255, 0.7);
}
  .first {
    position: absolute;
      bottom: -115px;
      left: 90px;
  }
  .middle {
    position: absolute;
      bottom: -185px;
      left: 130px;
  }
  .last {
    position: absolute;
      bottom: -255px;
      left: 170px;
  }
  .initial {
  color: #fee9ba;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}
/************************************/

/* CONTENT styling */
.portfolio, .about, .contact {
  color: #fff;
  font-family: 'Combo', cursive;
  font-size: 2em;
  text-shadow: 2px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  NAV ITEMS */
.nav-items {
  color: #ffc901;
  position: relative;
  text-shadow: 2px 2px rgba(11, 11, 11, 0.7);
}
#c, #h, #nav-a, #p {
  /* color: white; */
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  font-size: 36px;
  height: 50px;
  width: 50px;
  display: flex;
    justify-content: center;
    align-items: center;
  position: fixed;
    bottom: -30px;
    transition: 500ms;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7)

}
  #c {
    bottom: 135px;
    right: 10px;
    color: #fee9ba;
  }
    #c:hover {
      background-color: magenta;
      color: white;
      cursor: pointer;
    }
  #h {
    bottom: 80px;
    right: 10px;
  }
  #h:hover {
    background-color: yellow;
    color: white;
    cursor: pointer;
  }
  #nav-a {
    bottom: 25px;
    right: 10px;
  }
    #nav-a:hover {
      background-color: coral;
      color: white;
      cursor: pointer;
    }
  #p {
    right: 10px;
  }
    #p:hover {
      background-color: lime;
      color: white;
      cursor: pointer;
    }

/* ABOUT ME SECTION */
/* ABOUT ME */
#about-me {
  display: grid;
  font-family: 'Montserrat Alternates', sans-serif;
  grid-template-columns: 90px 4fr minmax(200px, 1.5fr) 90px;
  grid-template-areas: ". content info .";
  margin-top: 50px;
  min-height: 676px;
}
.me-content {
  background: #fee9ba;
  font-size: 18px;
  grid-area: content;
  padding: 1.75em;
  padding-bottom: 5em;
  position: relative;
  /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.6); */
}

.me-title {
  color: #c67665;

}
.me-info {
  /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.6); */
  background: #ffc901;
  grid-area: info;
  padding: 1.4em;
}

.me-content img {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  max-width: 200px;
  position: absolute;
    top: -70px;
    right: -130px;
}

.me-title {
  font-size: 34px;
  padding-right: 1.2em;
}
/*********************************/
/* SOCIAL MEDIA */
.empty {
  height: 125px;
}

.info-title {
  font-size: 20px;
  font-weight: bold;
}

.social-media a {
  color: magenta;
  font-size: 18px;
  text-decoration: none;
  transition: .25s;
}
  .social-media a:hover {
    color: #eeefff;
  }

  /* PORTFOLIO */

  .my-work, .contact-me {
    color: #ffc901;
    font-family: 'Fjalla One', sans-serif;
    font-size: 84px;
    height: 150px;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.7);
    position: relative;
  }
  .work-title p::first-letter,  .contact-me p::first-letter{
    color: #fee9ba;
  }
  .my, .send {
    position: absolute;
      left: 30%;
  }
  .port, .message {
    position: absolute;
    top: 67px;
    left: 35%;
  }
  .message {
    top: 71px;
    left: 33%;
  }

  .mosaic-container {
    box-shadow: 0 0 50px rgba(11, 11, 11, 0.8);
  display: grid;
  height: 100vh;
  margin-top: 200px;
  grid-gap: 12px;
  grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 1fr);
  grid-template-columns: repeat(5, 1fr);
}
.mosaic-container .grid-item {
  display: grid;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}
.grid-item:hover {
  opacity: 1;
  cursor: pointer;
}
.grid-item a {
  height: 100%;
  width: 100%;
}
.mosaic-container .one {
  background: url("linkup.png");
  background-size: cover;
  background-position: top;
  grid-row: span 2;
  grid-column: span 2;
}
.mosaic-container .two {
  background: url("bandit.png");
  background-size: cover;
  background-position: center;
  grid-row: span 3;
  grid-column-start: 3;
  grid-column-end: 6;
}
.mosaic-container .three {
  background: url("memory.png");
  background-size: cover;
  background-position: top;
  grid-row: span 2;
  grid-column: span 2;
}
.mosaic-container .four {
  background: url("burger.png");
  background-size: cover;
  background-position: top;
  grid-row: span 1;
  grid-column: 3 / 4;
}
.mosaic-container .five {
  background: url("adriankyzer.png");
  background-size: cover;
  background-position: center;
  grid-row: span 4;
  grid-column: span 2;
}

.mosaic-container .six {
  background: url("friends.png");
  background-size: cover;
  background-position: center;
  grid-row: span 3;
  grid-column: span 3;
}
/*
.line-container .template-area {
  background: cyan;
}

.line-container .row {
  background: violet;
}

.line-container .column {
  background: pink;
}

.grid-item {
  display: flex;
   justify-content: center;
   align-items: center;
  padding: 20px;
} */

/* Custom classes for sizing */

.square-sm {
  grid-row: span 1;
  grid-column: span 2;
}

.square-md {
  grid-row: span 2;
  grid-column: span ;
}

.square-lg {
  grid-row: span 3;
  grid-column: span 3;
}

.wide {
  grid-row: span 2;
  grid-column: span 3;
}

.tall {
  grid-row: span 3;
  grid-column: span 2;
}


  /* CONTACT FORM */

  #contact-box {
    margin-top: 200px;
    background: #ffc901;
    padding: 60px;
    color: white;
  }

  .contact-form {
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    color: teal;
    font-size: 22px;
    padding: 45px 15px;
    width: 70%;
  }

  .contact-form form {
    display: flex;
    flex-direction: column;
  }

  form input {
    background: #fee9ba50;
    border-style: 1px solid white;
    height: 30px;
    margin: 5px
  }

  form textarea {
    background: #fee9ba50;
    margin: 5px;
  }

  .submit-btn {
    background-color: #122626;
    color: #ffc901;
    font-family: 'Fjalla One', sans-serif;
    font-size: 54px;
    height: 100px;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.7);
    width: 68%;
    margin-top: 50px;

  }

  button::first-letter{
    color: #fee9ba;
  }

  footer {
    color: #ffc901;
    height: 225px;
    position: relative;
  }
  .footer p {
  position: absolute;
  left: 10px;
  bottom: 0;
  }

@media screen and (max-width: 700px) {

  .landing-wrapper {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
      "  . . p p p p . . . ."
      "  . . p p p p . . . ."
      "  . . p p p p a a a a"
      "  e e e e . . a a a a"
      "  . m m m m m a a a a"
      "  . m m m m m c c c ."
      "  . m m m m m c c c ."
      "  . m m m m m . . . ."
      /* "  . . . . . . . . . ."
      "  . . . . . . . . . . " */
    ;
  }
  .first {
    position: absolute;
      bottom: -115px;
      left: -40px;
  }
  .middle {
    position: absolute;
      bottom: -185px;
      left: -5px;
  }
  .last {
    position: absolute;
      bottom: -255px;
      left: 40px;
  }

  /* put bookmark on the right side */
  .bookmark {
    left: auto;
    right: 20px;
  }

  .A {
    left: auto;
    right: 66px;
  }
  .K {
    left: auto;
    right: 32px;
  }

  /* ABOUT ME */
  #about-me {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
    grid-template-areas: "content" "info";
    margin-top: 70px;
  }
  .me-pic {
    display: flex;
    justify-content: center;
  }
  .me-content img {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    max-height: 250px;
    margin-top: 30px;
    position: static;
  }
  .me-title {
    font-size: 26px;
    padding-right: 0;
  }

  .contact-form {
    width: 90%;
  }
  .my, .send {
    position: absolute;
      left: 20%;
  }
  .port, .message {
    position: absolute;
    top: 67px;
    left: 25%;
  }
  .message {
    top: 71px;
    left: 23%;
  }
  .empty {
    height: 25px;
  }

  #contact-box {
    margin-top: 200px;
    background: #ffc901;
    padding: 10px;
    color: white;
  }

  .contact-form {
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    color: teal;
    font-size: 22px;
    padding: 45px 15px;
    margin: 50px 0;
    width: 80%;
  }

}

@media screen and (max-width: 500px) {
  #contact-box {
    padding: 0;
    margin: 0;
    margin-top: 150px;
  }
  .contact-form {
    width: 100%;
    margin: 0px;
    padding: 40px 0 100px 0;
  }
  .my, .send {
    font-size: 64px;
    position: absolute;
      left: 10%;
  }
  .port, .message {
    font-size: 64px;
    position: absolute;
    top: 54px;
    left: 20%;
  }
  .message {
    top: 53px;
    left: 17%;
  }
}
